@import url(https://fonts.googleapis.com/css?family=Muli);


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
}
/* Navbar Start */
header{
    margin-bottom: 2.5%;
}
.masthead-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1 0 30vw;
    
  }
  .menu li {
    margin: 0 1rem;
    font-family: 'Muli', Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: black !important;
  }
  .menu > li > a {
      color: black;
      
  }
  .menu > li > a:hover{
    border-bottom: 2px solid black;
    
}

  .menu-1 {
    justify-content: flex-end;
  }
  
  .logo {
    flex: 0 1 20vw;
    text-align: center;
  }
  .logo img {
    width: 100px;
  }
  /* Navbar End */
  /* Main Content */
  .full-vh {
      height: 85vh;
  }
  /* Footer Start */
  footer, .page-footer {
      background-color: white !important;
      color: black !important;
      opacity: .8;

  }
  footer > div {
    color: black !important;
    background-color: white !important;
    
  }
  .right{
      text-decoration: none !important;
      color: black !important;
  }

